
version: '3.8'

services:
  # El motor de ClamAV que se ejecuta en segundo plano
  clamav:
    image: clamav/clamav:latest
    container_name: clamav-daemon
    restart: unless-stopped
    volumes:
      - clamav_data:/var/lib/clamav

  # Nuestra API personalizada que se comunica con el motor de ClamAV
  api:
    build: . # Construye la imagen a partir del Dockerfile en este directorio
    container_name: clamav-api-node
    restart: unless-stopped
    ports:
      - "3001:3001" # Expone el puerto 3001 de la API al exterior
    depends_on:
      - clamav # Se asegura de que el motor de ClamAV se inicie antes que la API

volumes:
  clamav_data:
    driver: local
